<h1>Products</h1>

<%= render "shared/search" %>

<% if current_user&.admin? %>
  <%= link_to "New product", new_product_path if authenticated? %>
<% end %>

<div id="products">
  <% @products.each do |product| %>
    <div>
      <%= link_to product.name, product %>
    </div>
  <% end %>
</div>